################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DonetInstall/bin/Debug
/DonetInstall/obj
/DonetInstall/.vs/DonetInstall
/.vs
/DonetInstall/bin/Release
